*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeOuterContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.placeContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 1.25rem;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 2.188rem;
    opacity: 0.7;
    width: 40%;
    max-width: 100%;
}

.placeTempContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 3.75rem;
    height: 3.75rem;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: rotate(10deg) scale(1.1);
}

@media (max-width: 768px) {
    .placeContainer {
        width: 90%;
    }
}