*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responseContainer{
    background-color: #fff;
    padding: 50px;
    border-radius: 35px;
    opacity: 70%;
    margin-top: 45px;
    max-width: 70%;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
}

.response{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}