*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/Weather-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #f0f0f0; /* Fallback color */
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}